.chat{
    flex:0.65; /*because we gave 0.35 to sidebar*/
    /* background-color:blue; */
}
.chat__header{
    padding:20px;
    display: flex;
    align-items: center;
    border-bottom:1px solid lightgray
}
.chat__headerInfo
{
    flex:1;
    padding-left:20px;
}
.chat__headerInfo>h3{
    margin-bottom:3px;
    font-weight:500;
} 
.chat__headerInfo>p{
    color:gray
} 
.chat__headerRight{
        display: flex;
        justify-content: space-between;
        min-width:100px;
}
.chat__body{
    flex:1;
    height:68vh;
    background-image:url("./bg.png");
    background-repeat: no-repeat;
    background-position: center;
    padding:30px;
    overflow-Y:scroll;
}
.chat__name{
    position:absolute;
    top:-15px;
    padding-bottom:6px;
}
.chat__timestamp{
    position:absolute;
    font-size: 10px;
    bottom:3.8px;
    right:4px;
    color:rgb(100, 100, 100)
}
.chat__message{
    position:relative;
    font-size: 16px;
    padding:15px;
    margin:4px;
    background-color: white;
    border-radius:10px;
    /* border-bottom:1px solid lightgray;
    max-width:50%;
    min-width:150px; */
    float:  left;
    clear: left;
} 
.chat__reciever{
    margin-left:280px;
    background-color: #dcf8c6;
}
.chat__footer{
    display: flex;
    background-color: rgb(245, 245, 245);
    justify-content: space-between;
    align-items: center;
    height:68px;
    box-shadow:1px solid black;
}
.chat__footer>form>input{
    flex:1;
    width:410px;
    height:40px;
    border-radius: 30px;
    border:none;
}
.chat__footer.MuiSvgIcon-root{
    color:lightgray;
    padding:10px;
}
.chat_footer>form>button{
    display:none;
}